.activities {
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid white;
    margin: 10rem 0 0 0;
    padding: 3.4rem;
}

/* === Activity Form === */

.activityform {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activityform button {
    margin-top: 1rem;
    max-width: 5rem;
}


.activityform label {
    margin: .2rem 0;
}

.activityform input {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.activityform fieldset {
    margin: 0 0 1rem 0;
}

/* === Search Container */

.searchcontainer {
    max-width: 30rem;
    margin-left: 4rem;
}

.searchcontainer input {
    font-size: 1.5rem;
}

.searchview {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.searchresult {
    display: flex;
    flex-direction: row-reverse;
    margin: .2rem 0;
}

.searchresult p {
    font-size: 1rem;
    margin-left: .5rem;
    letter-spacing: 1px;
}

.searchresult button {
    color: wheat;
    background-color: #2b2b2b;
    border-color: wheat;
}

.searchresult button:hover {
    background-color: lightgray;
}

.searchresult button:disabled {
    background-color: lightgray;
}