.pagination{
    display: flex;
    flex-direction: row;
    margin: 2rem 0 0 0;
}

.pagination p{
    margin: 0 .4rem;
}

.pagination button{
    margin: 0 1.2rem;
}

.pagination button:disabled{
    display: none;
}

.currentPage{
    border: 2px solid var(--font-clr-complementary);
    padding: 0 .3rem;
}