.searchcontainer {
    max-width: 30rem;
    margin-left: 4rem;
}

.searchcontainer input {
    font-size: 1.5rem;
}

.searchview {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.countryoption{
    display: flex;
    flex-direction: row;
}

.selectedcountry{
    margin: 1rem;
    padding: .1rem .5rem;
    border: 2px solid var(--font-clr-complementary);
    max-width: fit-content;
    display: flex;
    flex-direction: row;
}